
#container{
    background-color: dimgrey;
}   


#small{
    margin-left: 30%;
    margin-right: 30%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:.8em;
    padding:2rem;
}

.stile {
    padding: 2rem;
    border-radius: .5em;
}

.btile{
    padding:3rem;
    border-radius: .7rem;
}
#big{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 0.8em;
    padding:2rem;
}